@page "/presentation"
@using System.IO;
@using Open_and_save_PowerPoint;
@inject Open_and_save_PowerPoint.Data.PowerPointService service
@inject Microsoft.JSInterop.IJSRuntime JS

<h2>Syncfusion PowerPoint library (Essential Presentation)</h2>
<p>Syncfusion Blazor PowerPoint library (Essential Presentation) used to create, read, edit, and convert PowerPoint files in your applications without Microsoft Office dependencies.</p>
<button class="btn btn-primary" @onclick="@GeneratePPTX">Generate Presentation</button>


@code {
    MemoryStream documentStream;

    /// <summary>
    /// Generate and download the PowerPoint Presentaion
    /// </summary>
    protected async void GeneratePPTX()
    {
        documentStream = service.GeneratePresentation();
        await JS.SaveAs("Result.pptx", documentStream.ToArray());
    }
}
