@page "/presentation"
@inject Microsoft.JSInterop.IJSRuntime JS
@inject HttpClient client
@using Syncfusion.Presentation
@using System.IO

<h2>Syncfusion PowerPoint library (Essential Presentation)</h2>
<p>Syncfusion Blazor PowerPoint library (Essential Presentation) used to create, read, edit, and convert PowerPoint files in your applications without Microsoft Office dependencies.</p>
<button class="btn btn-primary" @onclick="@GeneratePPTX">Generate Presentation</button>

@code {
    @functions {

        async void GeneratePPTX()
        {
            using (Stream inputStream = await client.GetStreamAsync("sample-data/Template.pptx"))
            {
                //Load or open an PowerPoint Presentation.
                using (IPresentation pptxDoc = Syncfusion.Presentation.Presentation.Open(inputStream))
                {
                    //Get the first slide from the PowerPoint presentation.
                    ISlide slide = pptxDoc.Slides[0];
                    //Get the first shape of the slide.
                    IShape shape = slide.Shapes[0] as IShape;
                    //Change the text of the shape.
                    if (shape.TextBody.Text == "Company History")
                        shape.TextBody.Text = "Company Profile";
                    //Saves the PowerPoint document to MemoryStream.
                    using (MemoryStream stream = new MemoryStream())
                    {
                        pptxDoc.Save(stream);
                        stream.Position = 0;
                        //Download the PowerPoint document in the browser.
                        await JS.SaveAs("Result.pptx", stream.ToArray());
                    }
                }
            }
        }
    }
}
